@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

/********************* LANGUAGES **************************/

/* #languages {
  background-color: #fff;
  color: #000;
} */

/********************* NAVBAR **************************/

.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0/10%), 0 2px 2px rgb(0 0 0/6%),
    0 0 2px rgb(0 0 0/7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: #d50032;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav-left {
  text-transform: uppercase;
  /* push menu closer push to side 1 */
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* .navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
} */

.navbar-nav-right li {
  margin: 0 5px;
}

/*********************** HAMBURGER  ***********/

.hamburger {
  width: 60px;
}

/*********************** CENTER PART  ***********/

.image {
  background-image: url("images/hotel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.image h1 {
  font-size: 85px;
  margin: -20px 0 20px;
  font-weight: 700;
  letter-spacing: 5px;
}

.image p {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
}

.image span {
  color: #d50032;
}

/*?******************** HAMBURGER ********************/

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  margin-left: 30px;
  /* display: none; */
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* ******************* SECTION WITH SPA,REST,ROOMS*********************/

.qualities {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  width: 100%;
  text-align: center;
}

.qty-header {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 1.5;
  padding: 15px 0;
}

.qty-button {
  /* border: 1px solid #9dd1ff;
  border-radius: 10px; */
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  /* transition: background-color 200ms ease-in-out; */
}

/* **************** 3 parts****************/

.box {
  margin-bottom: 30px;
}

.box-inner {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.box-mail {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

.grid-col-3 {
  display: grid;
  /* Better to use fractions 1:1 2:1*/
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

/****************** MAPS ************/

.maps {
  margin-bottom: 30px;
}

.maps-right,
.maps-left {
  max-width: 800px;
  margin: 0 auto;
}

.grid-col-2 {
  display: grid;
  /* Better to use fractions 1:1 2:1*/
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.maps-right h2 {
  font-size: 50px;
}

.maps-right p,
label {
  font-size: 20px;
  margin: 10px;
}

/****************** NEWSLETTER ************/

.fas.fa-envelope {
  color: #fff;
  font-size: 32px;
  background: #333;
  padding: 15px;
  border-radius: 100%;
  margin: 0 0 16px 0;
}

.form-input,
input {
  padding: 16px 32px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.form-input input::placeholder {
  color: #d1d1d1;
  font-family: inherit;
}

.subscribe-btn {
  padding: 8px 16px;
  border-radius: 80px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  color: #fff;
  font-size: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

/****************** COOKIES ************/

.cookies ul {
  align-items: center;
}

.cookies li {
  margin: 0 15px;
  font-weight: bold;
  padding: 10px;
}

.cookies a {
  color: #000;
  text-decoration: none;
}

.cookies a:hover {
  color: #d50032;
}

/**************************** BUTTONS GOOGLE & APPLE *************/

.btn .apple,
.google {
  cursor: pointer;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 15px;
  width: 160px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-family: inherit;
  text-align: center;
  line-height: 1.2;
  font-size: 14px;
}

.btn .apple span,
.google span {
  font-size: 20px;
}

.btn .apple:hover,
.google:hover {
  background-color: #d50032;
  opacity: 0.9;
  color: #fff;
}

.btn img {
  width: 40px;
  height: 40px;
}

/************************!FOOTER *********************/

.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

/* .divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
} */
