@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
} */

/* navbar */
/* ***** Top logo */
.logo img {
  height: 90px;
  width: 90px;
}

.logo h1 {
  color: #d50032;
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  font-weight: bold;
  border: none;
  outline: none;
  text-align: center;
  /* margin-top: -40px; */
}

.logo {
  align-items: center;
  justify-content: center;
}

/* #navbar {
  margin-bottom: 150px;
} */

.navbar .nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #d50032;
}

ul {
  list-style-type: none;
}

/* #navbar {
  padding: 18px 15px;
  box-shadow: 0 1px 3px rgb(0 0 0/10%), 0 2px 2px rgb(0 0 0/6%),
    0 0 2px rgb(0 0 0/7%);
  min-height: 12vh;
  height: 0;
} */

.navbar .navbar-brand a {
  padding: 16px 0;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Pacifico", sans-serif;
  color: #d50032;
  font-size: 30px;
}

.navbar-brand:hover,
.navbar-brand:active {
  color: #d50032;
}

.navbar-toggler {
  background: #d50032;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 10px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 16px;
  /* margin-left: 10px; */
}

.navbar-toggler span + span + span {
  width: 10px;
  /* margin-left: 10px; */
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 16px 10px;
  font-size: 19px;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #d50032;
}

.navbar-expand-lg .navbar-nav .nav-link:active {
  border-bottom: 3px solid #d50032;
  color: #d50032;
}

.d-flex .btn {
  padding: 5px;
  border: 1px solid #d50032;
}

.d-flex .btn:hover {
  background-color: #d50032;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

/* ***************** dropdown hover  **********/

.dropdown a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.dropdown a:hover {
  border-bottom: 3px solid #d50032;
  background: none;
  color: #d50032;
}
/*******************************************/

.social .btn i:hover {
  color: #d50032;
  transition: 0.4s;
  cursor: pointer;
}

.form-control:focus {
  border-color: #d50032;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  /* box-shadow: none; */
}

#dropdownMenuButton:focus {
  outline: 0;
  border-color: #d50032;
  box-shadow: none;
}

/* ******** SPA********/

#spa h2 {
  color: #d50032;
  font-family: "Pacifico", sans-serif;
  font-weight: 700;
}

.explore-spa .card {
  border: none;
  /* border-radius: 10px; */
}

.explore-spa .card img {
  /* border-radius: 15px 15px 0 0; */
  object-fit: cover;
}

#explore-spa .read {
  color: #d50032;
  font-weight: 500;
}

#explore-spa .read:hover {
  background-color: #d50032;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

/* ********* HOVER EFFECT ON CARDS******************/

.border:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* ****** footer ******/

.back {
  background-color: #d50032;
}

.newsletter .effect {
  background-color: #fff;
  color: #d50032;
  padding: 7px;
}
